@model IEnumerable<Category>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">
    Game Categories
</h1>

<div class="card-container" style="justify-content:flex-start">
    <div id="addCategoryButton" class="single-card card shadow m-2" onclick="AddCategory()">
        <h3>+</h3>
    </div>
    @foreach (var Category in Model)
    {
        <div id="category_@Category.CategoryId" class="single-card card shadow m-2" onclick="window.location='/Games/Index?categoryId=' + @Category.CategoryId">
            <h3>@Category.CategoryName</h3>
        </div>
    }
</div>

@section Scripts{
    <script>
        function AddCategory() {
            
            alert("Add")
        }
    </script>
}


